h1 {
	background:#4aaaa5;
	padding:15px;
	color: white;
	margin-right: 70%;
	text-align: center;
	margin-left: 5%;
	margin-bottom: -15px;
	
}

#about{
	float: left;
	margin-left: 75%;
	list-style-type:none;
	color: #777777;

}

#portfolio{
	float: left;
	list-style-type: none;
	padding-left: 25px;
	color: #777777;
}

#contact {
	float:left;
	list-style-type: none;
	padding-left:25px;
	color: #777777;

}

.boxed{
	background-color: white;
	border: solid 1px #dddddd;
	float:right;
	color:#4aaaa5;
	margin-right: 35%;
	margin-left: 5%;
	margin-top:10px;
	padding-left: 20px;
	
}

.splash{
	background-color:#cccccc;
	background:#cccccc;
}

.by-picture{
	float:left;
	margin-right:10px;
	margin-bottom: 5px;
}

.samll-bar{
	margin-right: 33,3px;
}

footer{
	border-style: solid;
	border-color: #4aaaa5;
	border-top-width: 15px;
	margin-top: 50px;
	text-align: center;
	font-color:#ffffff;
	clear:both;
	font-size: 10px
}

.link-buttons{
	float:left;
	padding-left: 20px;
	padding-right: 20px;
	padding-bottom: 20px;
	padding-top: 10px;
	
}

#head-three{
	text-align: center;
}

p{ color: #777777;
}

.connect-box{
	background-color: white;
	border: solid 1px #dddddd;
	float:right;
	margin-right: 10%;
	clear:top;
	font:arial;


}